/*css document*/
body{
    width: 98%;
    background-color: lightgray;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 13px;
    position:relative;
    
}
section>nav{
    float:left;
    margin-top:15px;
    margin-left:2px;
}
a{
    color: red;
}
a:hover{
    text-decoration: underline;
}
.house {
    padding-left:15px;
}
nav a{                                                           /*just saying when u use left right top bottom try to  */
    text-decoration: none;                                         /* align everything to the same sides so you dont break your page*/
}
li>a{
    color: black;
}
li:first-child{
    color: darkred;
    font-weight:bold;
}
li{
    list-style:none;
    margin-left:-25px;
    padding: 1px;
}
ul{
    margin-top:18px;
}
nav div img{
    width: 23px;
    height:19px;
}
nav div a{
    color: black;
    font-weight:bold;
    font-size:13px;
}
body>section>div{
    width:900px;
    background-color:white;
    border:1px solid black;
    margin: 2px 163px;
    padding: 10px;
}
h1{
    font-size:34px;
    font-weight:bold;
}
button{
    width: 110px;
    height:27px;
    border:1px solid black;
    background-color:white;
}
button span{
    color:black;
    font-size:12px;
    margin-top:2px;
}

header:after, footer:after, footer:before{
    content:"";
    display:block;
    border-bottom: 2px solid gray;
    width: 100%;
    margin-top: 7px;
    margin-bottom:7px;
}
h2{
    text-align: left;
    color: white;
    background-color:gray;
    font-weight:bold;
    padding:2px;
}
.higher{
    line-height:40px;
}
article{
    margin-bottom:20px;
}


article:first-child {
    margin-bottom: 20px;
}
article:first-child img{
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 15px;
}
article:first-child p{
    font-weight:bold;
    margin-bottom:15px;
    margin-right: 10px;
}
.styles{
    display: block;
    background-color: #AEE6EA;
    width: 110px;
    height:30px;
    margin: 0 auto;
    line-height: 28px;
    border:1px solid #25E2DF;
    border-radius:2px;
    box-shadow: inset 0 0 1px 1px lightblue, inset 0 -1px 10px 0 lightseagreen;
    color: #25E2DF;
    font-weight:bold;
    text-decoration: none;
}
aside{
    width:194px;
    height:auto;
    text-align:center;
    position: absolute;
    top:2px;
    left: 1100px;
}
aside>div{
    border:1px solid black;
    background-color:white;
    margin-bottom:2px;
}
aside div div{
    margin:4px 8px 4px 8px;
}
aside div div a{
    display: block;
}
input[type="text"]{
    width:110px;
    height: 16px;                                     /*you see the input type text and type submit have different heights
                                                       cuz i needed to make the different sizes so theyd be the same size -_- */
}
input[type="submit"]{
    width:30px;
}

.sideheading{
    text-align: left;
    color: white;
    background-color:gray;
    font-weight:bold;
    padding:2px;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;
}



