/*css document */

body{
    background-color: #FF6EBF;
}
#text{
    z-index: 0;
    font-size:30px;
}
#spam-image{
    z-index: 100;
    position: fixed;
    width: 30%;
    top: 30%;
    left: 35%;
}
#apended{
    position: fixed;
    color: blue;
    top: 15px;
    left:40%;
    z-index: 50;
    font-size: 50px;
}