/* CSS DOCUMENT */
@font-face {
	font-family: EdwardianScriptITC;
	src: url('EdwardianScriptITC.ttf')
}
body{
    font-family: Consolas,serif;
    color: #0094ff;
}
p:first-letter{
    font-family: EdwardianScriptITC,serif;
    font-size: 26px;
}
p:first-line{
    font-weight: bold;
}
